*{
    margin: 0em;
    padding: 0em;
}

:root{
    --bgcolor: #1C1C1C;
    --red: #92140C;
    --light-gray: #D3D4D9;
    --txtcolor: #91a6ba;
    --linkcolor: #ffa500;
    --visitedcolor: #ff8000;
    --menucolor: #000000cc;
    --txtbgcolor: #91a6ba80;
}

html, body{
    color: var(--txtcolor);
    background-color: var(--bgcolor);
}

body{
    background-image: url(materiale/background-verticale.jpg);
    background-size: cover;
    font-size: 100%;
    font-family: 'open sans', sans-serif;
    line-height: 1.5em;
    font-weight: 100;
}

/*
=============
HEADER
=============
*/

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

/*
=============
MENU
=============
*/

.top_menu ul{
    overflow: hidden;
    height: 0;
}

.top_menu ul.open{
    height: auto;
}

.top_menu ul li{
    float: none;
}