*{
    padding: 0;
    margin: 0;
}

html{
    background-color: rgb(27, 27, 27);
}

:root{
    --borderbottomcolor: lightslategray;
    --txtcolor: white;
    --visitedcolor: blue;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: black;
    font-family: 'Open-Sans', sans-serif;
    color: var(--txtcolor);
    max-width: 70%;
    margin: auto;
    max-width: 1024px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid var(--borderbottomcolor);
    margin-bottom: -1px;
}

.header_bar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 50;
    /*border-bottom: 1px solid var(--borderbottomcolor);*/
}

.menu_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 100px;
    margin-left: 100px;

    /*padding-left: 100px;
    padding-right: 100px;*/
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -2px;
    /*border-bottom: 1px solid var(--borderbottomcolor);
    border-top: 1px solid var(--borderbottomcolor);*/
    background-color: rgb(36, 36, 36);
    border-radius: 20px;

    box-shadow: 2px 5px 7px rgb(53, 53, 53);
}

.menu_list li{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    /*background-color: green;*/
    z-index: 50;
    transition: opacity 0.15s;
}

.menu_list li:hover{
    opacity: 0.6;
    cursor: pointer;
}

#currentLink{
    color: var(--txtcolor);
    opacity: 1;
}

/*.menu_list a:visited{
    color: var(--visitedcolor);
}*/

.login_icon{
    border: 1px solid red;
    height: 20px;
    width: 20px;
    border-radius: 0px;
    margin-right: 10px;
}

#breadcrumb{
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.content{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;*/
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 70px;
    margin: 10px;
    padding: 40px;
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_container_dx{
    padding-left: 10px;
}

.text_container_sx{
    padding-right: 10px;
}

.argument_sx, .argument_dx{
    display: grid;
    align-items: top;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*border: 1px solid rgb(49, 49, 49);*/
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.argument_sx{
    grid-template-columns: 2fr 1fr;
    text-align: left;   
}

.argument_dx{
    grid-template-columns: 1fr 2fr;
    text-align: right;
}

footer{
    border-top: 1px solid var(--borderbottomcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.imgValidCode{
    width: 10%;
    padding: 0px 10px;
}
