*{
    margin: 0em;
    padding: 0em;
}

:root{
    --bgcolor: #1C1C1C;
    --red: #92140C;
    --light-gray: #D3D4D9;
    --txtcolor: #91a6ba;
    --linkcolor: #ffa500;
    --visitedcolor: #ff8000;
    --menucolor: #000000cc;
    --txtbgcolor: #91a6ba80;
}

html, body{
    color: var(--txtcolor);
    background-color: var(--bgcolor);
}

body{
    background-image: url(materiale/background-verticale.jpg);
    background-size: cover;
    font-size: 100%;
    font-family: 'open sans', sans-serif;
    line-height: 1.5em;
    font-weight: 100;
}


/*
=============
HEADER
=============
*/

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

/*
=============
MENU
=============
*/

#menu{
    display: flex;
    flex-direction: column;
    background-color: var(--menucolor);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.top_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu img{
    width: 5%;
    border-radius: 5em;
    margin-left: 1em;
}

.top_menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    list-style: none;
    padding: 1em 1em;
}

.top_menu ul li{
    padding: 0.5em;
}

#menu a:link{
    color: var(--linkcolor);
    text-decoration: none;
}

#menu a:visited{
    color: var(--visitedcolor);
}

#currentLink{
    color: var(--linkcolor);
    cursor: pointer;
}

#hamb-button{
    display: none;
}

@media screen and (max-width: 1000px){
    #menu img{
        width: 15%;
    }

    .top_menu ul{
        display: none;
    }

    .top_menu ul.open{
        font-size: 1em;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--menucolor);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        max-height: auto;
    }

    .top_menu ul li{
        padding: 1em;
    }

    #hamb-button{
        display: block;
        width: 5%;
        margin-right: 1em;
        z-index: 100;
    }
}

/*
=============
BREADCRUMB
=============
*/

#breadcrumb{
    padding: 0.5em 1em;
}

/*
=============
MAIN
=============
*/

main h2, h3{
    font-weight: 100;
}

#presentazione{
    color: var(--txtcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    height: 80vh;
    cursor: pointer;
}

#presentazione h1{
    font-size: 2em;
    font-weight: 100;
    text-shadow: 0 0 .3em rgb(54, 54, 54);
    transition: font-size 0.5s;
}

#presentazione h1:hover{
    font-size: 2.5em;
}

section{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px){
    section{
        flex-direction: column;
    }
}

.text-container-right, .text-container-left{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: var(--txtbgcolor);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1em;
    box-sizing: border-box;
}

.text-container-right{
    align-items: right;
    text-align: right;
}

.text-container-left{
    align-items: left;
}

.facciata{
    flex: 1;
    width: 30%;
}

#recensioni{
    color: var(--txtcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    height: 60vh;
}

/*
=============
LOGIN
=============
*/

#login-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 2em auto;
    text-align: center;
    background-color: var(--menucolor);
    border: 1px solid var(--light-gray);
    border-radius: 0.5em;
    padding: 1em 1em 0.5em 1em;
}

#login-window h1{
    font-weight: 100;
}

#login-window h2{
    font-size: 1em;
}

#login-window > *{
    margin-bottom: 1.2em;
}

.login-button{
    font-family: 'open sans', sans-serif;
    font-weight: 100;
    background-color: var(--light-gray);
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 1em;
    transition: opacity 0.15s;  
}

.login-button:hover{
    opacity: 0.7;    
}

.login-button:active{
    opacity: 0.5;
}

#login-window input{
    font-family: 'open sans', sans-serif;
    font-weight: 100;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    border: none;
    height: 2.5em;
    padding-left: 0.5em;
    border-radius: 0.5em;
    width: 65%;
    transition: all 0.15s;
}

#login-window input:focus{
    outline: none;
    opacity: 0.7;
}

#login-window a:link{
    color: var(--linkcolor);
    text-decoration: none;
}

#login-window a:visited{
    color: var(--visitedcolor);
}

#login-window fieldset > *{
    margin-bottom: 1em;
}

#login-window fieldset{
    border: none;
}

/*
=============
FOOTER
=============
*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: black;
    background-color: var(--txtbgcolor);
    height: 20vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media screen and (max-width: 1000px){
    footer{
        font-size: 1em;
    }

    #contatti, #social, #orari{
        flex: 1;
    }
}