*{
    margin: 0em;
    padding: 0em;
}

:root{
    --bgcolor: #1C1C1C;
    --red: #92140C;
    --light-gray: #D3D4D9;
    --txtcolor: #91a6ba;
    --txtdarkcolor: #050709;
    --linkcolor: #ffa500;
    --visitedcolor: #ff8000;
    --menucolor: rgba(0, 0, 0, 0.8);
    --menucolor-noshadow: rgb(0, 0, 0);
    --txtbgcolor: #91a6ba80;
}

html, body{
    color: var(--txtcolor);
    background-color: var(--bgcolor);
}

body{
    background-image: url(materiale/background-verticale.jpg);
    background-size: cover;
    font-size: 100%;
    font-family: 'open sans', sans-serif;
    line-height: 1.5em;
    font-weight: 100;
}

@media screen and (max-width: 880px){
    body{
        background-size: 150%;
    }
}


/*
=============
HEADER
=============
*/

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

/*
=============
MENU
=============
*/

#menu{
    display: flex;
    flex-direction: column;
    background-color: var(--menucolor);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.top_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-link{
    margin-left: 1em;
    height: 4em;
    width: 4em; 
    overflow: hidden;
    border-radius: 4em;
}

#logo-img{
    width: 235%;
    object-fit: cover;
    transform: translate(-39px, -29px);
}

#menu-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    list-style: none;
    padding: 1em 1em;
}

#menu-list li{
    padding: 0.5em;
}

#menu a:link{
    color: var(--linkcolor);
    text-decoration: none;
}

#menu a:visited{
    color: var(--visitedcolor);
}

#currentLink{
    color: var(--linkcolor);
    cursor: pointer;
}

#hamb-button{
    display: none;
}

@media screen and (max-width: 880px){

    .top_menu{
        padding-top: 1em;
    }

    #menu-list{
        font-size: 1em;
        width: 100%;
        padding: 1em 0 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--menucolor-noshadow);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    #menu-list.visible{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    #hamb-button{
        display: block;
        margin-right: 1em;
        width: 10%;
        border: none;
        background-color: transparent;
        transition: all 0.15s;
        border-radius: 0.5em;
        z-index: 200;
    }

    #hamb-button-img{
        width: 70%;
        transition: opacity 0.15s;
        margin: 0;
    }
}

/*
=============
BREADCRUMB
=============
*/

#breadcrumb{
    padding: 0.5em 1em;
}

@media screen and (max-width: 880px){
    #breadcrumb{
        font-size: .8em;
    }
}

/*
=============
MAIN
=============
*/

main h2, h3{
    font-weight: 100;
}

#presentazione{
    color: var(--txtcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    height: 80vh;
    cursor: pointer;
}

#presentazione h1{
    font-size: 2em;
    font-weight: 100;
    text-shadow: 0 0 .3em rgb(54, 54, 54);
    transition: 1s;
}

#presentazione h1:hover{
    font-size: 2.5em;
}

section{
    display: flex;
    flex-direction: row;
}

.text-container-right, .text-container-left{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: var(--txtbgcolor);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1em;
    box-sizing: border-box;
}

.text-container-right{
    align-items: right;
    text-align: right;
}

.text-container-left{
    align-items: left;
}

.facciata{
    flex: 1;
    width: 30%;
}

#recensioni{
    color: var(--txtcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.6);
    height: 60vh;
}

@media screen and (max-width: 880px){
    section{
        flex-direction: column;
    }

    .text-container-left, .text-container-right{
        font-size: 0.8em;
    }

    .facciata{
        width: 100%;
    }
}

/*
=============
LOGIN
=============
*/

#login-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 2em auto;
    text-align: center;
    background-color: var(--menucolor);
    border: 1px solid var(--light-gray);
    border-radius: 0.5em;
    padding: 1em 1em 0.5em 1em;
}

#login-window h1{
    font-weight: 100;
}

#login-window h2{
    font-size: 1em;
}

#login-window > *{
    margin-bottom: 1.2em;
}

.login-button{
    font-family: 'open sans', sans-serif;
    font-weight: 100;
    background-color: var(--light-gray);
    width: 5em;
    height: 2em;
    border: none;
    border-radius: 1em;
    transition: opacity 0.15s;  
}

.login-button:hover{
    opacity: 0.7;    
}

.login-button:active{
    opacity: 0.5;
}

#login-window input{
    font-family: 'open sans', sans-serif;
    font-weight: 100;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    border: none;
    height: 2.5em;
    padding-left: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    transition: all 0.15s;
}

#login-window label{
    width: 70%;
}

#login-window fieldset label, fieldset legend{
    margin-bottom: 1em;
}

#personal-info, #user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login-window input:focus{
    outline: none;
    opacity: 0.7;
}

#login-window a:link{
    color: var(--linkcolor);
    text-decoration: none;
}

#login-window a:visited{
    color: var(--visitedcolor);
}

#login-window fieldset{
    border: none;
}

@media screen and (max-width: 880px){
    #login-window{
        width: 70%;
    }
}

/*
=============
FOOTER
=============
*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: var(--txtdarkcolor);
    background-color: var(--txtbgcolor);
    height: 20vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#contatti, #social,  #orari{
    flex: 1;
    justify-content: space-between;
    
}

@media screen and (max-width: 880px){
    footer{
        font-size: 1em;
        flex-direction: column;
        height: auto;
    }

    footer > *{
        margin-bottom: 1em;
    }
}

/*
=============
CONTATTI
=============
*/


.contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 2em;
}


.contact-section {
    text-align: center;
    width: 80%;
    max-width: 50em;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; 
}


#map iframe {
    width: 100%;
    height: 18vw;
    border: 0;
    border-radius: 0.5em;
    min-height: 15em;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-form fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 0.5em;
    margin: 0 auto; 
    width: 90%; 
    max-width: 38rem; 
}

.contact-form label {
    margin-bottom: 0.5em;
    font-weight: bold;
    display: block;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 1em; 
}

.contact-form button {
    align-self: center;
    padding: 1em 2em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--linkcolor);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--visitedcolor);
}


#work-with-us h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .contact-section {
        width: 95%;
    }

    #map iframe {
        width: 100%;
        height: 25pvw;
    }
}
.contact-details p {
    margin-bottom: 1em; 
}
#map {
    margin-top: 2vh; 
}


/* ==============================
CHI SIAMO
============================== */

#presentazione{
    color: var(--txtcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor 0.9);
    height: 80vh;
    text-align: center;
    border-radius: 0.5em;
}

#presentazione h1{
    font-size: 4em;
    line-height: 1.5;
}

#presentazione p{
    font-size: 2em;
    margin: 2em;
    line-height: 1.2;
}

#storia, #missione{
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2em;
    border-radius: 0.5em;
}

#storia h2, #missione h2{
    font-size: 2em;
    margin-bottom: 1em;
}

#storia p, #missione p{
    font-size: 1.1em;
    text-align: justify;
}

#storia .facciata, #missione .facciata{
    width: 100%;
    height: auto;
    margin-top: 1em;
    border-radius: 0.5em;
}

#storia .facciata img, #missione .facciata img{
    width: 100%;
    border-radius: 0.5em;

}

@media screen and (max-width: 880px){
    #presentazione{
        flex-direction: column;
        height: auto;
        padding: 2em;
    }

    #presentazione h1{
        font-size: 1.8em;
    }

    #storia, #missione{
        padding: 1.5em;
    }

    #storia h2, #missione h2{
        font-size: 1.8em;
    }

    #storia p, #missione p{
        font-size: 1em;
    }

    #storia .facciata img, #missione .facciata img{
        width: 100%;
    }
}

#sostenibilita {
    text-align: center;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5em;
    margin-top: 2em;
    line-height: 1.5;
}

#sostenibilita h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: var(--txtdarkcolor);
}

#sostenibilita p {
    font-size: 1.2em;
    color: var(--txtdarkcolor);
    text-align: justify;
}

#chisiamo-social {
    text-align: center;
    margin-top: 2em;
    color: var(--txtcolor);
}

#chisiamo-social p {
    font-size: 1.5em;
    padding: 1em;
    color: var(--txtcolor);
}

#chisiamo-social a {
    margin: 0 1em;
}

#chisiamo-social img {
    width: 5em;
    height: 5em;
    transition: transform 0.3s;
}

#chisiamo-social img:hover {
    transform: scale(1.1);
}